@charset "UTF-8";
header {
  height: 70px;
  background-color: #ec715f;
}
@media (max-width: 767px) {
  header {
    height: 50px;
  }
}

.header_inner {
  width: 1024px;
  display: flex;
}
@media (max-width: 767px) {
  .header_inner {
    width: 90%;
  }
}

.logo_image img {
  width: 150px;
  height: auto;
  font-size: 16px;
}

ul {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  margin-right: 30px;
}
ul li a {
  color: #fafafa;
}

.main_visual {
  background-image: url(../image/mv.png);
  background-size: cover;
  height: 650px;
}
@media (max-width: 767px) {
  .main_visual {
    height: 50px;
  }
}

h1 {
  text-align: center;
  padding-top: 200px;
  font-size: 64px;
  color: #FAFAFA;
}
@media (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
}

.main_visual_text {
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  color: #FAFAFA;
}
@media (max-width: 767px) {
  .main_visual_text {
    font-size: 18px;
  }
}

.portfolio {
  background: #ECEFF1;
}

.portfolio_inner {
  width: 920px;
  margin: 0 auto;
  padding: 90px 0;
}

.portfolio_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio_item img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.feature_inner {
  padding: 90px 0;
  width: 980px;
  margin: 0 auto;
}

.feature_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature_item {
  width: 320px;
  height: auto;
}

.fas {
  display: flex;
  font-size: 60px;
  justify-content: center;
}

.item_title {
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}

.profile {
  background-color: #ECEFF1;
}

.profile_inner {
  width: 1024px;
  margin: 0 auto;
  padding: 90px 0;
}

.profile_bottom {
  display: flex;
}

.profile_left {
  width: 512px;
}

.profile_left img {
  display: flex;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.profile_right {
  width: 512px;
}

.my_name,
.my_skill {
  font-size: 20px;
  padding-bottom: 5px;
}

.my_skill {
  padding-top: 20px;
}

.contact_inner {
  padding: 90px 0;
  margin: 0 auto;
  width: 800px;
}

.contact_bottom {
  display: flex;
  justify-content: space-around;
}

.my_contact {
  font-size: 20px;
  padding-bottom: 5px;
}

.sns_icon {
  display: flex;
}

.fab {
  font-size: 50px;
}

.fab > div:nth-child(1) {
  margin-left: 20px;
}

footer {
  height: 80px;
  background-color: #EC715F;
}

.copyright {
  text-align: center;
  line-height: 80px;
  color: #FAFAFA;
}

/*共通パーツ*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #000;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.title {
  text-align: center;
  font-size: 32px;
  padding-bottom: 8px;
  position: relative;
}
.title::after {
  position: absolute;
  content: "";
  width: 70px;
  height: 3px;
  background-color: #FC715F;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

.content_text {
  text-align: center;
  padding: 30px 0;
}
