.contact_inner {
    padding: 90px 0;
    margin: 0 auto;
    width: 800px;
}

.contact_bottom {
    display: flex;
    justify-content: space-around;
}

.my_contact {
    font-size: 20px;
    padding-bottom: 5px;
}

.sns_icon {
    display: flex;
}

.fab {
    font-size: 50px;
}
.fab>div:nth-child(1) {
    margin-left: 20px;
}



