* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-size: 16px;
    color: black;
  }

  /*header*/
  header {
    height: 70px;
    background-color: #ec715f;
  }

  .nav_inner {
    max-width: 1024px;
  }

  ul {
    display: flex;
    margin-left: auto;
  }

  li {
    color: #fafafa;
    list-style: none;
  }
  
  ul li:nth-child(n + 1) {
    margin-left: 30px;
  }