.main_visual {
    background-image: url(../image/mv.png);
    background-size: cover;
    height: 650px;
}

h1 {
    text-align: center;
    padding-top: 200px;
    font-size: 64px;
    color: #FAFAFA;
}

.main_visual_text {
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    color: #FAFAFA;
}