@use "header";
@use "main_visual";
@use "portfolio";
@use "feature";
@use "profile";
@use "contact";
@use "footer";



/*共通パーツ*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #000;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

ul {
  li:nth-child(1) {
    margin-left: 0;
  }
}

.title {
  text-align: center;
  font-size: 32px;
  padding-bottom: 8px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 70px;
    height: 3px;
    background-color: #FC715F;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
  }
}

.content_text {
  text-align: center;
  padding: 30px 0;
  @media (max-width: 767px) {
    br {
      display: none;
    }
  }
}
